    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link  " href="/dashboard">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-gauge text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/budgetReports">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-building-columns text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Budget Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/billing.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-truck text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Ship Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/virtual-reality.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-circle-info text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Access Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/virtual-reality.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-briefcase text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Case Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/virtual-reality.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-person text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">End User Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/virtual-reality.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-gears text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Manage Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/virtual-reality.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-clipboard-check text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">Config Settings</span>
        </a>
      </li>

      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">User Settings</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="../pages/sign-in.html">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-pencil text-dark"></i>
          </div>
          <span class="nav-link-text ms-1">User Account Settings</span>
        </a>
      </li>
    </ul>